/* Remove SelectMenu backdrop */
.SelectMenu::before {
  display: none;
}

/* Reset `margin-bottom: -1px` which causes a scrollbar. Replace with removal of bottom border. */
.Box-body:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}

/* Remove redundant top spacing of first form group. */
.Box-body>.form-group:first-child {
  margin-top: 0;
}

/* Reduce checkbox wrapper margins when in a form group. */
.form-group-body .form-checkbox {
  margin: 10px 0;
}

/* Add the right octicon styles for underline nav items, to avoid having to add class `UnderlineNav-octicon`. */
.UnderlineNav-item>.octicon {
  display: inline !important;
  margin-right: 8px;
  color: var(--color-fg-muted);
  fill: var(--color-fg-muted);
}

/* Add the right octicon styles for side nav items, to avoid having to add class `SideNav-icon`. */
.SideNav-item>.octicon,
.SideNav-subItem>.octicon {
  width: 16px;
  margin-right: 8px;
  color: var(--color-fg-muted);
}

/* Resize octicon in a small button. */
.btn-sm .octicon[width="16"],
.btn-sm .octicon[height="16"] {
  width: 14px;
  height: 14px;
}

/* Form validation styles that conform to https://primer.style/view-components/components/alpha/textfield#with-a-validation-message */
.form-control:not(:focus)[invalid],
.form-select:not(:focus)[invalid] {
  border-color: var(--color-danger-emphasis);
}

.form-group.errored label {
  color: inherit;
}

.form-group .form-group-header {
  margin-bottom: 4px;
}

.FormControl-inlineValidation {
  margin-top: 4px;
}

.FormControl-inlineValidation--success {
  color: var(--color-success-fg);
  fill: var(--color-success-fg);
}

/* Add the right styles for search input inside subnav, to avoid having to add class `subnav-search-input`. */
/* input[type="search"] will display a search icon (when .octicon SVG exists). */
.subnav-search input[type="text"],
.subnav-search input[type="search"] {
  width: 320px;
  color: var(--color-fg-muted);
}

.subnav-search input[type="text"].input-block,
.subnav-search input[type="search"].input-block {
  width: 100%;
}

.subnav-search input[type="search"] {
  padding-left: 32px;
}

.subnav-search input+.octicon {
  display: none;
}

.subnav-search input[type="search"]+.octicon {
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  color: var(--color-fg-muted);
  text-align: center;
  pointer-events: none;
}

.subnav-search-context+.subnav-search input[type="text"],
.subnav-search-context+.subnav-search input[type="search"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Ensure that successive Box-row siblings don't show rounded top corners. */
.Box-header+.Box-row,
.Box-row+.Box-row {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* Don't show link menu appearance for non-link items such as single and multiple select items: */
/* hide selection line at left and selection background. */
.ActionList-item:not(.ActionList-item--navActive)[aria-selected="true"]:not(:hover) {
  background: none;
}

.ActionList-item:not(.ActionList-item--navActive)[aria-selected="true"]::after {
  display: none;
}

/* Add space to label following an octicon. */
.ActionList-item-label>.octicon+span {
  margin-left: 8px;
}

/* Hide sub group toggles that are not button */
span.ActionList-content[aria-expanded] {
  display: none;
}

/* Hide empty labels */
.ActionList-item-label:empty {
  display: none;
}

/* For ActionMenu, take SelectMenu non-mobile style for all screen sizes. */
.ActionMenu {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  padding: 0;
}

/* Reset extra padding for touch devices because lots of layouts break because of it. */
@media (pointer: coarse) {
  .ActionList-content {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

/* Mimic Primer/React's ActionMenu overlay style. */
.ActionMenu-modal {
  position: relative;
  z-index: 99;
  display: flex;
  overflow: hidden;
  pointer-events: auto;
  flex-direction: column;
  background-color: var(--color-canvas-overlay);
  border-radius: 12px;
  box-shadow: var(--color-overlay-shadow);
  min-width: 192px;
  max-width: 640px;
  border: none;
  margin: 8px 0 16px 0;
}

/* Header: make whitespace work on both sides. */
.Header {
  column-gap: 16px;
}

.Header-item {
  margin-left: 0;
  margin-right: 0;
}

/* Implement Primer React's IconButton. */
.btn-icon {
  padding: 5px 8px;
}

.btn-icon.btn-sm {
  padding: 3px 6px;
}

.btn-icon.btn-large {
  padding: 9px 12px;
}

:root {
  --prompt-max-height-content: 80vh;
}

[data-prompt]:not([data-isdrawer]) [data-content]:not([aria-role="menu"]) {
  max-height: var(--prompt-max-height-content);
}

/* Box--overlay: reduce width on small screens */
@media (max-width: 480px) {
  .Box--overlay {
    max-width: 90vw;
  }
}

/* Box--overlay: drawer width */
[data-prompt][data-isdrawer] [data-drawer-content].Box--overlay {
  width: initial;
}

/* Box--overlay: prevent shadow for push drawer when not showing. */
[data-prompt][data-isdrawer]:not([data-isshowing]) [data-drawer-content].Box--overlay {
  box-shadow: none;
}