/* Remove SelectMenu backdrop */
.SelectMenu::before {
  display: none;
}
@media (max-width: 544px) {
  [data-prompt][data-isshowing] [data-backdrop][data-islight] {
    /* Override: use medium color backdrop for menu that looks like a dialog */
    opacity: var(--prompt-background-opacity-backdrop-medium);
  }
}

/* Reset `margin-bottom: -1px` which causes a scrollbar. Replace with removal of bottom border. */
.Box-body:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}

/* Remove redundant top spacing of first form group. */
.Box-body > .form-group:first-child {
  margin-top: 0;
}

/* Reduce checkbox wrapper margins when in a form group. */
.form-group-body .form-checkbox {
  margin: 10px 0;
}

/* Add the right octicon styles for underline nav items, to avoid having to add class `UnderlineNav-octicon`. */
.UnderlineNav-item > .octicon {
  display: inline !important;
  margin-right: 8px;
  color: var(--color-fg-muted);
  fill: var(--color-fg-muted);
}

/* Form validation styles that conform to https://primer.style/view-components/components/alpha/textfield#with-a-validation-message */
.form-group.errored label {
  color: inherit;
}
.form-group .form-group-header {
  margin-bottom: 4px;
}
.FormControl-inlineValidation {
  margin-top: 4px;
  display: flex;
  visibility: hidden;
}
.form-group.errored .FormControl-inlineValidation,
.form-group.successed .FormControl-inlineValidation {
  visibility: visible;
}
.FormControl-inlineValidation--error {
  color: var(--color-danger-fg);
  fill: var(--color-danger-fg);
}
.FormControl-inlineValidation--success {
  color: var(--color-success-fg);
  fill: var(--color-success-fg);
}
