/* Remove SelectMenu backdrop */
.SelectMenu::before {
  display: none;
}
@media (max-width: 544px) {
  [data-prompt][data-isshowing] [data-backdrop][data-islight] {
    /* Override: use medium color backdrop for menu that looks like a dialog */
    opacity: var(--prompt-background-opacity-backdrop-medium);
  }
}

/* Reset `margin-bottom: -1px` which causes a scrollbar. Replace with removal of bottom border. */
.Box-body:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}

/* Remove redundant top spacing of first form group. */
.Box-body > .form-group:first-child {
  margin-top: 0;
}

/* Reduce checkbox wrapper margins when in a form group. */
.form-group-body .form-checkbox {
  margin: 10px 0;
}

/* Prevent that checkbox and radio button labels are also colored red when the form group has errored status. */
.form-group.errored .form-checkbox label {
  color: inherit;
}
